@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">

    var pageNumber = 1;
    var orderField = "firstname";
    var orderDirection = true;
    var searchTerm = "";

    $(document).ready(function () {

        updateCustomerData(orderField, orderDirection);

        function updateCustomerData(orderBy, isDesc) {
            $.ajax({
                url: '@Url.Action("CustomerData", "Home")?pagenumber=' + pageNumber + "&orderBy=" + orderBy + "&isdesc=" + isDesc + "&searchTerm=" + searchTerm,
                success: function (viewHTML) {
                    $("#customer-data").empty();
                    $("#customer-data").append(viewHTML);
                }
            });
        }

        $('#search-button').click(function () {
            var newSearchTerm = $('#search-term').val();
            if (searchTerm != newSearchTerm) {
                searchTerm = newSearchTerm;
                pageNumber = 1;
            }
            updateCustomerData(orderField, orderDirection);
        });

        $(document).on("click", ".page-link", function (node) {
            refreshPage($(this).find(".page-link-value").val());
        });

        function refreshPage(newPageNumber) {
            pageNumber = newPageNumber;
            updateCustomerData(orderField, orderDirection);
        }
    });
</script>

        <h2>Customers</h2>
<div class="input-group">
    <input id="search-term" type="text" class="form-control" name="x" placeholder="Search term...">
    <span class="input-group-btn">
        <button id="search-button" class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
    </span>
</div>
<br />
<div id="customer-data">

</div>



