@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">

    var CustomerParameters = {};

    $(document).ready(function () {

        CustomerParameters.pageNumber = 1;
        CustomerParameters.orderField = "lastname";
        CustomerParameters.isDesc = false;
        CustomerParameters.searchTerm = "";


        updateCustomerData(false);

        function updateCustomerData(hideAlert) {

            if (hideAlert) {
                $('.alert-info').hide();
            }

            $.ajax({
                url: '@Url.Action("CustomerData", "Home")?pagenumber=' + CustomerParameters.pageNumber + "&orderBy=" + CustomerParameters.orderField + "&isdesc=" + CustomerParameters.isDesc + "&searchTerm=" + CustomerParameters.searchTerm,
                success: function (viewHTML) {
                    $("#customer-data").empty();
                    $("#customer-data").append(viewHTML);

                    
                }
            });
        }

        jQuery('#search-term').on("keypress", function (e) {
            if (e.keyCode == 13) {
                // Cancel the default action on keypress event
                e.preventDefault();
                var newSearchTerm = $('#search-term').val();
                if (CustomerParameters.searchTerm != newSearchTerm) {
                    CustomerParameters.searchTerm = newSearchTerm;
                    CustomerParameters.pageNumber = 1;
                }
                updateCustomerData(true);
            }
        });

        $(document).on("click", ".sort-header", function () {
            changeColumnOrder($(this).attr("header-column"));
        });

        $(document).on("click", ".page-link", function (node) {
            refreshPage($(this).attr("page-link-value"));
        });

        function changeColumnOrder(headerColumn) {
            if ((CustomerParameters.orderField == headerColumn)) {
                CustomerParameters.isDesc = (!CustomerParameters.isDesc);
            } else {
                CustomerParameters.orderField = headerColumn;
                CustomerParameters.isDesc = false;
            }
            CustomerParameters.pageNumber = 1;
            updateCustomerData(true);
        }

        function refreshPage(newPageNumber) {
            CustomerParameters.pageNumber = newPageNumber;
            updateCustomerData(true);
        }
    });
</script>

        <h2>Customers</h2>

@if(ViewBag.Message != null) { 
<div class="alert alert-info" role="alert">
    @ViewBag.Message
</div>
}
<div class="input-group">
    <input id="search-term" type="text" class="form-control" name="x" placeholder="Search...">
    <button onclick='location.href="@Url.Action("EditCustomer", "Home")"' type="button" class="btn btn-primary ml-2">Add Customer</button>
</div>
<br />
<div id="customer-data">

</div>



